%h1 Dashboard
%br

%p
  = link_to 'Create a new order', new_order_path, class: "btn btn-info btn-lg"

- if @user_orders.any?
  %h3 Orders you have created:
  %br

  .list-group
    .list-group-item
      - @user_orders.each do |order|
        .row-action-primary
          %i.fa.fa-cutlery
        .row-content
          .pull-right
            = link_to 'Cancel order', order_path(order, :from => 'dashboard'), method: :delete, class: "btn btn-warning btn-sm"
          %h4.list-group-item-heading
            = link_to order.name, order
            \|
            = order.created_at.strftime("%d %b %Y")
          %p.list-group-item-text
            Rolls within this order:
            = order.rolls.count
        .list-group-separator
        %br

- else
  %p You have not created any open orders.


- if @domain_orders.any?
  %p Orders you can:
  %ul
    - @domain_orders.each do |order|
      .row-action-primary
        %i.fa.fa-cutlery
      .row-content
        .least-content
          = order.created_at.strftime("%d %b %Y")
        %h4.list-group-item-heading
          = link_to order.name, order
        %p.list-group-item-text
          Rolls within this order:
          = order.rolls.count
    .list-group-separator

- else
  %p
    There are no #{'other ' if @user_orders.any?}open orders in your domain.
