<%= form_for(@order) do |f| %>
  <ul>
    <%= f.fields_for :order_items do |order_items_form| %>
      <li>
        <%= order_items_form.label :ingredients %>
        <%= order_items_form.text_field :ingredients %>

      </li>
    <% end %>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
