%h1
  Order Details For
  = @order.name
%br

.list-group
  .list-group-item
    - @order.rolls.each do |roll|
      .row-action-primary
        %i.fa.fa-cutlery
      .row-content
        .pull-right
          = link_to 'Remove', roll_path(roll), method: :delete, class: "btn btn-warning btn-sm"
        %h4.list-group-item-heading
          = roll.owner.given_name
        %p.list-group-item-text
          = roll.ingredients.map(&:name).join(' | ')
          %br
          %br
          = link_to 'Edit', roll_path(roll), class: "btn btn-primary btn-sm"
      .list-group-separator
      %br

/ %ul
/   - @order.rolls.each do |roll|
/     %li
/       = roll.owner.given_name
/       = link_to 'Edit', roll_path(roll)
/       - if roll.owner == current_user
/         = link_to 'Remove', [roll],
/           method: :delete,
/           data: { confirm: 'Are you sure?' }

%br
= form_for([@order, @order.rolls.build]) do |f|
  %button.btn.btn-primary.btn-lg{:type => "submit"}
    Add A Roll
/ = link_to 'Edit', edit_order_path(@order)
/ = link_to 'Back', orders_path
