<p id="notice"><%= notice %></p>

<h1><%= @order.name %></h1>

<h2>Ordered Rolls</h2>
<ul>
<% @order.rolls.each do |roll| %>
  <li>
    <%= roll.owner.given_name %>
    <%= link_to 'Edit', roll_path(roll) %>
    <% if roll.owner == current_user %>
    <%= link_to 'Remove', [roll],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ul>

<h2>Add a roll</h2>
<%= form_for([@order, @order.rolls.build]) do |f| %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Back', orders_path %>
