<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @order.domain %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @order.owner %>
</p>

<p>
  <strong>Items:</strong>
</p>
<ul>
    <% @order.order_items.each do |order_item| %>
      <%= order_item.user %>
    <% end %>
</ul>

<%= render 'order_items/form' %>

<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Back', orders_path %>
