%p#notice= notice

%h2 Ingredients
%ul
  - @roll.ingredients.each do |ingredient|
    %li= ingredient.name

= form_for @roll do |f|
  - if @roll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@roll.errors.count, "error")} prohibited this roll from being saved:"
      %ul
        - @roll.errors.full_messages.each do |msg|
          %li= msg
  - Ingredient.all.each do |ingredient|
    = ingredient.name
    = f.check_box(:ingredients, { :multiple => true, :checked => @included_ingredients.include?(ingredient.id) }, ingredient.id)

  .actions
    = f.submit 'Save'

= link_to 'Edit', edit_roll_path(@roll)
\|
= link_to 'Back', order_path(@roll.order)
