.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to('RollRunner', root_path, class: "navbar-brand")

  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li.active
        = link_to('Dashboard', root_path)
      %li
        = link_to('New Order', new_order_path)
      %li
        = link_to('Admin', rails_admin_path)



    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          = link_to("Logout #{current_user.email}", destroy_user_session_path, :method => :delete)
      - else
        %li
          = link_to('Login', new_user_session_path)